#mapSample {
      width: 100%;
      height: 400px;  
      padding:5px;
      border: solid 3px #D6C6AF;
}

.above {
      margin-top:30px;
      margin-bottom: 0px;
      color: #D6C6AF;
}

.under {
      color: #D6C6AF;}

p {margin-top: 5px;
}